
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
} 

#open-ui {
  padding: 10px 20px;
  background-color: #0078D7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup {
  height: 70px;
  padding-inline: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon-button:hover {
  transform: scale(1.1);
}

.icon-button:active {
  transform: scale(0.8);
}

.icon-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  transform: none;
}

#playButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: none;
}
#playButton:hover {
  transform: scale(1.05);
}
#playButton svg {
  width: 40px;
  height: 35px;
  fill: #63be5b;
}

#pauseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: none;
  bottom: 10px;
  right: 5%;
}
#pauseButton:hover {
  transform: scale(1.05);
}
#pauseButton svg {
  width: 40px;
  height: 35px;
  fill: #f44336;
}

.icon {
  width: 40px;
  height: 40px;
}

#fileContainer {
  position: relative;
  height: 50%;
  width: 200px;
  padding-right: 10px;
}
#fileContainer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} #fileContainer a:active {
  cursor: grabbing;
}
#fileContainer canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(167, 47, 47, 0.315);
  border-radius: 5px;
}

#timer {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-left: 15px;
  width: 80px;
  text-align: center;
}
